/*use google font import at the very top*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*font-family: "Work Sans", serif;*/

*{
    margin: 0;
    padding: 0;
}
#hero{
    background-color: tomato;
    background-image: url("/assets/hero-bg.png");
    height: 730px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* hero ontent ke flexible akta box korar jonno parent hero ke flex korbo */
    display:flex ;
    /* upor theke maje */
    justify-content: center;
    /* pash theke enter */
    align-items: center;
}
.hero-content{
    width: 818px;
    /* div er text gula left right e auto margin diye maje neua jay
    margin: 0 auto; */
}